<h1>Articles</h1>

<ul>
  <% @articles.each do  |article| %>
  <li>
      <!--reproduzindo o valor de retorno -->
      <%= link_to article.title, article %>
  </li>
    <% end %>
</ul>
<%= link_to "New Article", new_article_path %>
